<!DOCTYPE html>
<html>
<head>
  <title>Fall book</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "fall_book/application", media: "all" %>
  <%= javascript_include_tag "fall_book/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
